<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="mapper.MemberMapper">
  	<insert id="insert">
 insert into tbl_member (id,pw,name,email,tel,nickname,location,mtype) values(#{id},#{pw},#{name},#{email},#{tel},#{nickname},#{location},#{mtype});
 	
  	</insert>
  	<select id="findById" resultType="Member">
  	 select * from tbl_member where id = #{id}
  	</select>
  	<select id="findByMno" resultType="Member">
  	 select * from tbl_member where mno = #{mno}
  	</select>
  	
  	<resultMap type="domain.Member" id="MemberMap">
  	<result property="regdate" column="regdate" javaType="java.util.Date"/>
  	</resultMap>
  	
  	<select id="findIdsByEmailAndName" resultMap="MemberMap">
  	select id, name, regdate
  	from tbl_member
  	where email = #{email}
  	and name = #{name}
  	</select>
  </mapper> 