<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.PayMapper">
	<!-- 결제 생성 -->
	<insert id="insert">
		insert into tbl_pay(dano, mno, payamount, paytype, paystatus, confirm, receipt, uuid) values (#{dano}, #{mno}, #{payamount}, #{paytype}, #{paystatus}, #{confirm}, #{receipt}, #{uuid})
	</insert>
	
	
	<!-- 결제 수정 -->
	<update id="update">
	</update>
	
	
	<!-- 결제 삭제 -->
	<delete id="delete">
	</delete>
	
	
	<!-- 결제 리스트 -->
	<select id="list" resultType="pay">
		select *
		from tbl_pay
		where dano IN ( SELECT dano
					    FROM tbl_donate_action
					    WHERE drno = #{drno} )
	</select>
	
	
	<!-- 결제 한개 선택 -->
	<select id="selectOne" resultType="pay">
		select *
		from tbl_pay
		where pno = #{pno}
	</select>
	
	
 
</mapper>