<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.TosMapper">

  <!-- 약관 동의 정보 저장 -->
  <insert id="insert" parameterType="tos" useGeneratedKeys="true" keyProperty="agrno">
    INSERT INTO tbl_tos (
      mno,
      tosver,
      agrdate,
      agrcheck,
      type,
      regadmin,
      withdrawn
    )
    VALUES (
      #{mno},
      #{tosver},
      NOW(),
      #{agrcheck},
      #{type},
      #{regadmin},
      #{withdrawn}
    )
  </insert>

</mapper>
